Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, eslint-lint, black-format, flake8-lint

prettier-format:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  tags: format

eslint-lint:
  run: npm run lint -- {staged_files}
  tags: lint frontend

black-format:
  run: (uv run black {staged_files} 2>/dev/null || .venv/bin/black {staged_files} 2>/dev/null || python3 -m black {staged_files})
  stage_fixed: true
  tags: format backend

flake8-lint:
  run: (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || python3 -m flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statist
  ...

Update agriculture_module.py
  backend/model/agriculture_module.py
Due: black-format, flake8-lint

Update agriculture_to_ammonia.pickle
  backend/_database/data/interface/agriculture_to_ammonia.pickle
Due: none

Reorganizing ammonia module with new file-organization format
  backend/model/ammonia/interfaces.py
  backend/model/ammonia/workflows.py
  backend/model/ammonia_module.py
Due: black-format, flake8-lint

Reorganizing pre processing and model for lca
  backend/_database/data/datamatrix/lca.pickle
  backend/_database/pre_processing/lca/get_data_functions/data_lca.py
  backend/_database/pre_processing/lca/lca_preprocessing_main.py
  backend/_database/pre_processing/lca/processors/lca_levers.py
  backend/_database/pre_processing/lca/processors/lca_ots_pickle.py
  backend/_database/pre_processing/lca/processors/old/lca_build-pickle.py
  backend/_database/pre_processing/lca/processors/old/lca_levers.py
  backend/_database/pre_processing/lca/scenarios/lca_fts_BAU_pickle.py
  backend/model/lca/interfaces.py
  backend/model/lca/workflows.py
  backend/model/lca_module.py
Due: black-format, flake8-lint

Update industry.pickle
  backend/_database/data/datamatrix/industry.pickle
Due: none

Updating interface pickles
  backend/_database/data/interface/agriculture_to_emissions.pickle
  backend/_database/data/interface/agriculture_to_land-use.pickle
  backend/_database/data/interface/ammonia_to_emissions.pickle
  backend/_database/data/interface/buildings_to_emissions.pickle
  backend/_database/data/interface/buildings_to_energy.pickle
  backend/_database/data/interface/industry_to_agriculture.pickle
  backend/_database/data/interface/industry_to_ammonia.pickle
  backend/_database/data/interface/industry_to_emissions.pickle
  backend/_database/data/interface/industry_to_energy.pickle
  backend/_database/data/interface/industry_to_forestry.pickle
  backend/_database/data/interface/industry_to_land-use.pickle
  backend/_database/data/interface/transport_to_emissions.pickle
Due: none

Updating industry CH preprocessing for emissions
  backend/_database/pre_processing/industry/Switzerland/get_data_functions/data_emissions.py
  backend/_database/pre_processing/industry/Switzerland/processors/industry_calib_emissions.py
Due: black-format, flake8-lint

Updating industry CH pre processing for material production for calibration
  backend/_database/pre_processing/industry/Switzerland/industry_preprocessing_main_CH.py
  backend/_database/pre_processing/industry/Switzerland/processors/industry_lever_product_net_import.py
Due: black-format, flake8-lint

Update industry_ots_pickle.py
  backend/_database/pre_processing/industry/Switzerland/processors/industry_ots_pickle.py
Due: black-format, flake8-lint

Update interfaces.py
  backend/model/ammonia/interfaces.py
Due: black-format, flake8-lint

Updating ammonia with new energy demand update
  backend/model/ammonia/workflows.py
  backend/model/ammonia_module.py
Due: black-format, flake8-lint

Updating industry
  backend/model/industry/interfaces.py
  backend/model/industry/workflows.py
Due: black-format, flake8-lint

Update buildings_module.py
  backend/model/buildings_module.py
Due: black-format, flake8-lint

Update interfaces.py
  backend/model/buildings/interfaces.py
Due: black-format, flake8-lint

Creating emissions module
  backend/model/emissions/interfaces.py
  backend/model/emissions/old/emissions_module.py
  backend/model/emissions/workflows.py
  backend/model/emissions_module.py
Due: black-format, flake8-lint

Update forestry_module.py
  backend/model/forestry_module.py
Due: black-format, flake8-lint

Update industry_module.py
  backend/model/industry_module.py
Due: black-format, flake8-lint

Update interactions_localrun.py
  backend/model/interactions_localrun.py
Due: black-format, flake8-lint

Update landuse_module.py
  backend/model/landuse_module.py
Due: black-format, flake8-lint

Update lca_module.py
  backend/model/lca_module.py
Due: black-format, flake8-lint

Updating transport emissions interface
  backend/model/transport/interfaces.py
  backend/model/transport_module.py
Due: black-format, flake8-lint

Update workflows.py
  backend/model/emissions/workflows.py
Due: black-format, flake8-lint

vaud calibrated
  backend/_database/data/datamatrix/agriculture.pickle
  backend/_database/pre_processing/agriculture & land use/update_DM_agriculture.py
Due: black-format, flake8-lint

Update vkm calibration in pre-processing
  backend/_database/pre_processing/transport/Switzerland/processors/transport_calib_vkm.py
  backend/_database/pre_processing/transport/Switzerland/transport_preprocessing_main_CH.py
Due: black-format, flake8-lint

Update passenger_renewal_rate_and_waste_pipeline.py
  backend/_database/pre_processing/transport/Switzerland/processors/passenger_renewal_rate_and_waste_pipeline.py
Due: black-format, flake8-lint

Revert "Updating interface pickles"
  backend/_database/data/interface/agriculture_to_emissions.pickle
  backend/_database/data/interface/agriculture_to_land-use.pickle
  backend/_database/data/interface/ammonia_to_emissions.pickle
  backend/_database/data/interface/buildings_to_emissions.pickle
  backend/_database/data/interface/buildings_to_energy.pickle
  backend/_database/data/interface/industry_to_agriculture.pickle
  backend/_database/data/interface/industry_to_ammonia.pickle
  backend/_database/data/interface/industry_to_emissions.pickle
  backend/_database/data/interface/industry_to_energy.pickle
  backend/_database/data/interface/industry_to_forestry.pickle
  backend/_database/data/interface/industry_to_land-use.pickle
  backend/_database/data/interface/transport_to_emissions.pickle
Due: none

Revert "Update industry_to_energy_interface.py"
  backend/_database/pre_processing/power/Switzerland/industry_to_energy_interface.py
Due: black-format, flake8-lint

Delete industry_to_energy_interface.py
  backend/_database/pre_processing/industry/Switzerland/industry_to_energy_interface.py
Due: black-format, flake8-lint

chore: removed outdated docs
  backend/src/pathwaycalc.egg-info/PKG-INFO
  backend/src/pathwaycalc.egg-info/SOURCES.txt
  backend/src/pathwaycalc.egg-info/dependency_links.txt
  backend/src/pathwaycalc.egg-info/requires.txt
  backend/src/pathwaycalc.egg-info/top_level.txt
Due: none

fix: use package-relative path for datamatrix endpoint
  backend/src/api/routes.py
Due: black-format, flake8-lint

fix: update package imports from leure-transition-compass-model to transition-compass-model for compatibility
  backend/main.py
  backend/pyproject.toml
  backend/uv.lock
Due: black-format, flake8-lint

feat: add local / remote option to install model
  .github/workflows/ci-build.yml
  Makefile
  backend/Dockerfile
  backend/Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: prettier-format

ci: add workflow to auto-bump transition-compass-model version
  .github/workflows/bump-model.yml
Due: prettier-format

chore: format workspace configuration and add transition-compass-model path
  speed-to-zero.code-workspace
Due: none

fix: checkout dev branch before patching pyproject.toml
  .github/workflows/bump-model.yml
Due: prettier-format

Path conditions:
  prettier-format: any of: *.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}
  eslint-lint: any of: *.{js,ts,vue} and ^frontend/
  black-format: any of: *.py and ^backend/
  flake8-lint: any of: *.py and ^backend/
