Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, eslint-lint, black-format, flake8-lint

prettier-format:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  tags: format

eslint-lint:
  run: npm run lint -- {staged_files}
  tags: lint frontend

black-format:
  run: (uv run black {staged_files} 2>/dev/null || .venv/bin/black {staged_files} 2>/dev/null || python3 -m black {staged_files})
  stage_fixed: true
  tags: format backend

flake8-lint:
  run: (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || python3 -m flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statist
  ...

feat: add Current diet - low waste and translate the comparison charts
  frontend/src/components/graphs/ChartCard.vue
  frontend/src/components/graphs/PathwayComparisonChart.vue
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/pathway-comparison.json
  frontend/src/config/subtabs/true-cost.json
  frontend/src/pages/sectors/PathwayComparisonTab.vue
  frontend/src/stores/leversStore.ts
  frontend/src/utils/examplePathways.ts
  frontend/src/utils/pathwayComparison.ts
Due: prettier-format, eslint-lint

New overall page
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/overall.json
Due: prettier-format, eslint-lint

Update buildings.json
  frontend/src/config/subtabs/buildings.json
Due: prettier-format

Update plotLabels.ts
  frontend/src/config/plotLabels.ts
Due: prettier-format, eslint-lint

Re-add energy to the run
  backend/model_config.json
Due: prettier-format

Fix transport plots
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/transport.json
Due: prettier-format, eslint-lint

minor beauty fix makefile
  Makefile
Due: none

Add energy labels
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/energy.json
Due: prettier-format, eslint-lint

Change transport frontend plots and structure
  frontend/src/config/subtabs/transport.json
Due: prettier-format

add industry in model config.json
  backend/model_config.json
Due: prettier-format

Transport KPIs update
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/transport.json
Due: prettier-format, eslint-lint

Add backlog.md to gitignore
  .gitignore
Due: none

Change Frontend Layout
  frontend/src/components/SectorTab.vue
  frontend/src/components/VerticalNavigation.vue
  frontend/src/components/graphs/ChartCard.vue
  frontend/src/components/kpi/KpiBox.vue
  frontend/src/components/kpi/SubtabNavBar.vue
  frontend/src/config/subtabs/transport.json
  frontend/src/layouts/DashboardLayout.vue
Due: prettier-format, eslint-lint

Fixing numpy version update bug
  backend/pyproject.toml
  backend/src/utils/serialize_model.py
Due: black-format, flake8-lint

Fixing numpy version update bug pt2
  backend/uv.lock
Due: none

feat(buioldings) :add total energy demand
  frontend/src/config/subtabs/buildings.json
Due: prettier-format

Minor lever fix
  frontend/src/config/levers.ts
  frontend/src/config/plotLabels.ts
Due: prettier-format, eslint-lint

Update industry.json
  frontend/src/config/subtabs/industry.json
Due: prettier-format

Path conditions:
  prettier-format: any of: *.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}
  eslint-lint: any of: *.{js,ts,vue} and ^frontend/
  black-format: any of: *.py and ^backend/
  flake8-lint: any of: *.py and ^backend/
