Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, eslint-lint, black-format, flake8-lint

lefthook.yml:

# RC file to ensure proper PATH for npm/npx
rc: ./.lefthookrc

# commit-msg:
#   commands:
#     commitlint:
#       run: npx --no -- commitlint --edit {1}

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     eslint-audit:
#       tags: frontend eslint
#       run: npm run lint
#     typescript-audit:
#       tags: frontend typescript
#       run: npm run type-check

pre-commit:
  parallel: true
  commands:
    # Format frontend files (JS, TS, Vue, JSON, etc.) and root files
    prettier-format:
      glob: "*.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
      tags: format
    # Lint frontend files
    eslint-lint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run lint -- {staged_files}
      tags: lint frontend
    # Format backend Python files
    black-format:
      root: "backend/"
      glob: "*.py"
      run: (uv run black {staged_files} 2>/dev/null || .venv/bin/black {staged_files} 2>/dev/null || python3 -m black {staged_files})
      stage_fixed: true
      tags: format backend
    # Lint backend Python files (critical errors only in pre-commit)
    flake8-lint:
      root: "backend/"
      glob: "*.py"
      run: (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || python3 -m flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics)
      tags: lint backend

chore: removed outdated docs
  backend/src/pathwaycalc.egg-info/PKG-INFO
  backend/src/pathwaycalc.egg-info/SOURCES.txt
  backend/src/pathwaycalc.egg-info/dependency_links.txt
  backend/src/pathwaycalc.egg-info/requires.txt
  backend/src/pathwaycalc.egg-info/top_level.txt
Due: none

fix: use package-relative path for datamatrix endpoint
  backend/src/api/routes.py
Due: black-format, flake8-lint

feat: add local / remote option to install model
  .github/workflows/ci-build.yml
  Makefile
  backend/Dockerfile
  backend/Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: prettier-format

chore: format workspace configuration and add transition-compass-model path
  speed-to-zero.code-workspace
Due: none

fix: use dedicated BUMP_MODEL_TOKEN instead of CD_TOKEN
  .github/workflows/bump-model.yml
Due: prettier-format

fix: rename secret to LEURE_SPEED_TO_ZERO_BUMP_MODEL_TOKEN
  .github/workflows/bump-model.yml
Due: prettier-format

chore(main): release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier-format

chore: bump transition-compass-model to v0.0.1-test
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: update package imports from leure-transition-compass-model to transition-compass-model for compatibility
  backend/main.py
  backend/pyproject.toml
  backend/uv.lock
Due: black-format, flake8-lint

fix: update transition-compass-model repository URL to 2050Calculators
  .github/workflows/bump-model.yml
  backend/pyproject.toml
  backend/uv.lock
Due: prettier-format

chore: bump transition-compass-model to v0.1.0
  backend/pyproject.toml
  backend/uv.lock
Due: none

Bug fix in heating mix fts lev 1-2
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_BAU_pickle.py
Due: black-format, flake8-lint

test format
  .gitignore
  backend/_database/pre_processing/buildings/Switzerland/buildings_preprocessing_main_CH.py
  backend/src/api/routes.py
Due: black-format, flake8-lint

feat(buildings): Add PCV heating ratio measure
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/buildings_preprocessing_CH.py
  backend/_database/pre_processing/buildings/Switzerland/buildings_preprocessing_main_CH.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
Due: black-format, flake8-lint

refactor(buildings): format others_pipeline_ch.py
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
Due: black-format, flake8-lint

refactor(buildings): change emissions factors with ofev emission factors
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
Due: black-format, flake8-lint

style(buildings): black format all files in switzerland buildings
  backend/_database/pre_processing/buildings/Switzerland/buildings_postprocessing_CH.py
  backend/_database/pre_processing/buildings/Switzerland/buildings_preprocessing_CH_fts_EP2050.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/appliances_CH.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/construction_period_param.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/energy_demand_for_calibration.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/heating_technology_CH.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/hot_water_CH.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/lighting_CH.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/renovation_CH.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/services_CH.py
  backend/_database/pre_processing/buildings/Switzerland/get_data_functions/utils.py
  backend/_database/pre_processing/buildings/Switzerland/processors/appliances_pipeline_CH.py
  backend/_database/pre_processing/buildings/Switzerland/processors/build_ots_pickle.py
  backend/_database/pre_processing/buildings/Switzerland/processors/buildings_interfaces_CH.py
  backend/_database/pre_processing/buildings/Switzerland/processors/calibration_pipeline_CH.py
  backend/_database/pre_processing/buildings/Switzerland/processors/floor_area_pipeline_CH.py
  backend/_database/pre_processing/buildings/Switzerland/processors/lighting_pipeline_CH.py
  backend/_database/pre_processing/buildings/Switzerland/processors/renovation_pipeline_CH.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_LoiEnergie_Vaud_pickle.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_Tint_heating_pickle.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_floor_area_pickle.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_heating_efficiency_pickle.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/buildings_fts_EP2050_pickle.py
Due: black-format, flake8-lint

refactor(buildings): update electricity factor with ofev
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
Due: black-format, flake8-lint

adding services and hotwater emissions plots
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
  backend/model/buildings/interfaces.py
  backend/model/buildings/workflows.py
  backend/model/buildings_module.py
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/buildings.json
Due: prettier-format, eslint-lint, black-format, flake8-lint

style: format backend/model folder
  backend/model/agriculture_module.py
  backend/model/ammonia/interfaces.py
  backend/model/ammonia/workflows.py
  backend/model/ammonia_module.py
  backend/model/climate_module.py
  backend/model/common/auxiliary_functions.py
  backend/model/common/constant_data_matrix_class.py
  backend/model/common/data_matrix_class.py
  backend/model/common/hourly_data_functions.py
  backend/model/common/interface_class.py
  backend/model/common/io_database.py
  backend/model/district_heating_module.py
  backend/model/emissions/interfaces.py
  backend/model/emissions/old/emissions_module.py
  backend/model/emissions/workflows.py
  backend/model/emissions_module.py
  backend/model/energy/energyscopepyomo/main.py
  backend/model/energy/energyscopepyomo/ses_pyomo.py
  backend/model/energy/interfaces.py
  backend/model/energy/utils.py
  backend/model/energy_module.py
  backend/model/energy_module_AMPL.py
  backend/model/forestry_module.py
  backend/model/industry/interfaces.py
  backend/model/industry/workflows.py
  backend/model/industry_module.py
  backend/model/interactions_localrun.py
  backend/model/landuse_module.py
  backend/model/lca/interfaces.py
  backend/model/lca/workflows.py
  backend/model/lca_module.py
  backend/model/lifestyles_module.py
  backend/model/minerals_module.py
  backend/model/oilrefinery_module.py
  backend/model/power_module.py
  backend/model/transport/checks.py
  backend/model/transport/interfaces.py
  backend/model/transport/utils.py
  backend/model/transport/workflows.py
  backend/model/transport_module.py
Due: black-format, flake8-lint

feat(buldings): adding heating_district in the emissions plots
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
Due: black-format, flake8-lint

feat(buildings): Adding total emission plot and updating the kpi
  backend/model/buildings/interfaces.py
  backend/model/common/data_matrix_class.py
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/buildings.json
Due: prettier-format, eslint-lint, black-format, flake8-lint

feat(buildings): adding wood emisison factor
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_LoiEnergie_Vaud_pickle.py
Due: black-format, flake8-lint

feat(buildings): update FE with diane values
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/processors/others_pipeline_CH.py
Due: black-format, flake8-lint

feat(buildings): Setting hot water heating with electricity to 0 in 2035 following the DACCE decree
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
  backend/model/buildings/workflows.py
Due: black-format, flake8-lint

feat(buildings) : electricity set to 0 in a clean way
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
  backend/model/buildings/workflows.py
Due: black-format, flake8-lint

style : remove duplicates in lever_position.json
  backend/config/lever_position.json
Due: prettier-format

feat(buildings) : Update renovation rate fts
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
Due: black-format, flake8-lint

feat(buildings): adding E class buildings renovation
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
Due: black-format, flake8-lint
