Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, eslint-lint, black-format, flake8-lint

prettier-format:
  run: npx prettier --write {staged_files}
  stage_fixed: true
  tags: format

eslint-lint:
  run: npm run lint -- {staged_files}
  tags: lint frontend

black-format:
  run: (uv run black {staged_files} 2>/dev/null || .venv/bin/black {staged_files} 2>/dev/null || python3 -m black {staged_files})
  stage_fixed: true
  tags: format backend

flake8-lint:
  run: (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || python3 -m flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statist
  ...

make install-dev fix
  backend/Makefile
Due: none

Energy lever sector change
  frontend/src/components/LeverDataPopup.vue
  frontend/src/config/levers.ts
  frontend/src/config/sectors.ts
Due: prettier-format, eslint-lint

chore: migrate worktree tooling to wtx
  docs/worktree-env.md
  scripts/claude-worktree-settings.json
  scripts/git-push-guard.sh
  scripts/tmux-dev.sh
  scripts/wt-done.sh
  scripts/wt-go.bash
  scripts/wt-land.sh
  scripts/wt-lib.sh
  scripts/wt-new.sh
  scripts/wt-open.sh
  scripts/wt-setup.sh
  scripts/wt-teardown.sh
  wtx.toml
Due: prettier-format

chore: update wtx.toml, hooks and docs for the migration
  .gitignore
  .wt.toml
  CLAUDE.md
  Makefile
  backend/Makefile
  frontend/quasar.config.ts
  lefthook.yml
Due: prettier-format, eslint-lint

feat(agriculture): add food net import lever
  frontend/src/config/levers.ts
  frontend/src/config/sectors.ts
Due: prettier-format, eslint-lint

agriculture : update variables name
  frontend/src/config/plotLabels.ts
Due: prettier-format, eslint-lint

clean(agriculture) :rename Meat-based supply variables
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/agriculture.json
Due: prettier-format, eslint-lint

Update .gitignore
  .gitignore
Due: none

feat: add TCAF health-cost subtab to dietary-habits
  frontend/src/config/subtabs/dietary-habits.json
Due: prettier-format

feat: add True Cost tab with Total, Health and Environment subtabs
  backend/model_config.json
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/true-cost.json
  frontend/src/pages/sectors/TrueCostTab.vue
  frontend/src/router/routes.ts
Due: prettier-format, eslint-lint

update variable name
  frontend/src/config/plotLabels.ts
  frontend/src/config/sectors.ts
Due: prettier-format, eslint-lint

feat: add TCAF diet pathways (BAU, Swiss food pyramid, planetary health)
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint

fix: restore the executable bit on scripts/*.sh
  scripts/git-push-guard.sh
  scripts/tmux-dev.sh
  scripts/wt-done.sh
  scripts/wt-land.sh
  scripts/wt-lib.sh
  scripts/wt-new.sh
  scripts/wt-open.sh
  scripts/wt-setup.sh
  scripts/wt-teardown.sh
Due: none

feat: add a Production/Self Sufficiency tab and a diet BAU-vs-target chart
  backend/model_config.json
  frontend/src/components/graphs/ChartCard.vue
  frontend/src/config/plotLabels.ts
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/dietary-habits.json
  frontend/src/config/subtabs/production.json
  frontend/src/pages/sectors/DietaryHabitsTab.vue
  frontend/src/pages/sectors/ProductionTab.vue
  frontend/src/router/routes.ts
  frontend/src/stores/leversStore.ts
  frontend/src/utils/selfSufficiency.ts
Due: prettier-format, eslint-lint

fix: exclude the synthetic BAU-2050 row from time-series diet charts
  frontend/src/components/graphs/ChartCard.vue
  frontend/src/stores/leversStore.ts
Due: prettier-format, eslint-lint

Add cantonal energy view
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/energy.json
Due: prettier-format, eslint-lint

simplify sector subtabs view
  frontend/src/components/SectorTab.vue
  frontend/src/components/kpi/KpiBox.vue
  frontend/src/config/subtabs/buildings.json
  frontend/src/config/subtabs/transport.json
  frontend/src/i18n/de-DE/index.ts
  frontend/src/i18n/en-US/index.ts
  frontend/src/i18n/fr-FR/index.ts
  frontend/src/utils/sectors.ts
Due: prettier-format, eslint-lint

feat: set self-sufficiency levers to the 50%-by-2050 target in TCAF pathways
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint

fix: source Production tab from lever-reactive sectors, not agriculture
  backend/model_config.json
  backend/src/utils/transform_model.py
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/production.json
  frontend/src/stores/leversStore.ts
  frontend/src/utils/selfSufficiency.ts
Due: prettier-format, eslint-lint, black-format, flake8-lint

revert: set self-sufficiency levers back to level 1 (BAU) in TCAF pathways
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint

3 buildings KPIs
  frontend/src/config/subtabs/buildings.json
  frontend/src/config/subtabs/overall.json
Due: prettier-format

fix: chart the model's self-sufficiency ratio instead of production over food demand
  frontend/src/utils/selfSufficiency.ts
Due: prettier-format, eslint-lint

feat: set self-sufficiency levers to level 2 in the TCAF diet pathways
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint

feat: add Population tab, food waste and energy requirement charts, fix true cost health
  backend/model_config.json
  frontend/src/config/plotLabels.ts
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/dietary-habits.json
  frontend/src/config/subtabs/population.json
  frontend/src/config/subtabs/true-cost.json
  frontend/src/pages/sectors/PopulationTab.vue
  frontend/src/router/routes.ts
  frontend/src/stores/leversStore.ts
  frontend/src/utils/dietMetrics.ts
  frontend/src/utils/populationMetrics.ts
Due: prettier-format, eslint-lint

feat: add low-waste variants of the three TCAF diet pathways
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint

feat: add cost saved vs BAU chart to the True Cost total tab
  frontend/src/components/graphs/ChartCard.vue
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/true-cost.json
  frontend/src/pages/sectors/TrueCostTab.vue
  frontend/src/stores/leversStore.ts
  frontend/src/utils/trueCostMetrics.ts
Due: prettier-format, eslint-lint

feat: add true cost per capita per year chart to the True Cost total tab
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/true-cost.json
  frontend/src/stores/leversStore.ts
  frontend/src/utils/trueCostMetrics.ts
Due: prettier-format, eslint-lint

feat: add Pathway comparison tab for the six TCAF diet pathways
  backend/model_config.json
  frontend/src/components/graphs/PathwayComparisonChart.vue
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/pathway-comparison.json
  frontend/src/i18n/de-DE/index.ts
  frontend/src/i18n/en-US/index.ts
  frontend/src/i18n/fr-FR/index.ts
  frontend/src/pages/sectors/PathwayComparisonTab.vue
  frontend/src/router/routes.ts
  frontend/src/stores/leversStore.ts
  frontend/src/utils/pathwayComparison.ts
Due: prettier-format, eslint-lint

feat: add Crops and Livestock sub-tabs to the Production tab
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/production.json
  frontend/src/stores/leversStore.ts
  frontend/src/utils/livestockMetrics.ts
  frontend/src/utils/organicShares.ts
Due: prettier-format, eslint-lint

feat: add a Processed food sub-tab to Dietary habits
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/dietary-habits.json
  frontend/src/utils/dietMetrics.ts
Due: prettier-format, eslint-lint

feat: show CHF cost charts in billion CHF instead of million CHF
  frontend/src/config/subtabs/pathway-comparison.json
  frontend/src/config/subtabs/true-cost.json
  frontend/src/stores/leversStore.ts
Due: prettier-format, eslint-lint

feat: add a Blue food sub-tab to Production and fish to the True Cost charts
  backend/model_config.json
  docs/blue-food-lca.md
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/pathway-comparison.json
  frontend/src/config/subtabs/production.json
  frontend/src/config/subtabs/true-cost.json
  frontend/src/stores/leversStore.ts
Due: prettier-format, eslint-lint

feat: split oil crops and pulses in the Diet intake vs BAU chart
  frontend/src/config/subtabs/dietary-habits.json
  frontend/src/utils/dietMetrics.ts
Due: prettier-format, eslint-lint

feat: split oil crops and pulses in the pathway comparison diet chart
  frontend/src/config/subtabs/pathway-comparison.json
Due: prettier-format

feat: split oil crops and pulses in remaining food-group charts
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/dietary-habits.json
  frontend/src/config/subtabs/pathway-comparison.json
  frontend/src/utils/dietMetrics.ts
Due: prettier-format, eslint-lint

ci: bump tcaf-model too in the model bump workflow
  .github/workflows/bump-model.yml
Due: prettier-format

chore: install tcaf-model next to transition-compass-model
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: remove 3 unneeded SectorData casts that break the frontend build
  frontend/src/stores/leversStore.ts
Due: prettier-format, eslint-lint

feat: add the Current diet pathway
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint

feat: add the Current diet pathway to the pathway comparison tab
  frontend/src/components/graphs/PathwayComparisonChart.vue
  frontend/src/config/sectors.ts
  frontend/src/pages/sectors/PathwayComparisonTab.vue
  frontend/src/stores/leversStore.ts
  frontend/src/utils/pathwayComparison.ts
Due: prettier-format, eslint-lint

Path conditions:
  prettier-format: any of: *.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}
  eslint-lint: any of: *.{js,ts,vue} and ^frontend/
  black-format: any of: *.py and ^backend/
  flake8-lint: any of: *.py and ^backend/
