Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, eslint-lint, black-format, flake8-lint

lefthook.yml:

# RC file to ensure proper PATH for npm/npx
rc: ./.lefthookrc

# commit-msg:
#   commands:
#     commitlint:
#       run: npx --no -- commitlint --edit {1}

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     eslint-audit:
#       tags: frontend eslint
#       run: npm run lint
#     typescript-audit:
#       tags: frontend typescript
#       run: npm run type-check

pre-commit:
  parallel: true
  commands:
    # Format frontend files (JS, TS, Vue, JSON, etc.) and root files
    prettier-format:
      glob: "*.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
      tags: format
    # Lint frontend files
    eslint-lint:
      root: "frontend/"
      glob: "*.{js,ts,vue}"
      run: npm run lint -- {staged_files}
      tags: lint frontend
    # Format backend Python files
    black-format:
      root: "backend/"
      glob: "*.py"
      run: (uv run black {staged_files} 2>/dev/null || .venv/bin/black {staged_files} 2>/dev/null || python3 -m black {staged_files})
      stage_fixed: true
      tags: format backend
    # Lint backend Python files (critical errors only in pre-commit)
    flake8-lint:
      root: "backend/"
      glob: "*.py"
      run: (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics 2>/dev/null || python3 -m flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics)
      tags: lint backend

feat(buildings): lever 3 renovation redistribution update
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
Due: black-format, flake8-lint

feat(buildings) : update levels of levers above
  backend/_database/data/datamatrix/buildings.pickle
  backend/_database/pre_processing/buildings/Switzerland/scenarios/build_fts_PCV_LVLEne_pickle.py
Due: black-format, flake8-lint

refactor(transports) : create transport fts PCV2
  .gitignore
  backend/_database/data/datamatrix/transport.pickle
  backend/_database/pre_processing/transport/Switzerland/processors/transport_calib_vkm.py
  backend/_database/pre_processing/transport/Switzerland/scenarios/transport_fts_BAU_pickle.py
  backend/_database/pre_processing/transport/Switzerland/scenarios/transport_fts_PCV2.py
Due: black-format, flake8-lint

feat(transport): Add PCV2 modal share (lever 3)
  backend/_database/data/datamatrix/transport.pickle
  backend/_database/pre_processing/transport/Switzerland/scenarios/transport_fts_PCV2.py
Due: black-format, flake8-lint

Update interactions.py
  backend/model/interactions.py
Due: black-format, flake8-lint

Update interactions_localrun.py
  backend/model/interactions_localrun.py
Due: black-format, flake8-lint

adapting interface industry to energy
  backend/_database/data/datamatrix/ammonia.pickle
  backend/_database/data/datamatrix/industry.pickle
  backend/_database/pre_processing/industry/eu/python/industry_const_energy-demand.py
  backend/model/industry/interfaces.py
Due: black-format, flake8-lint

Update main.py
  backend/main.py
Due: black-format, flake8-lint

chore: update .gitignore to include CLAUDE.md and .claude directory
  .gitignore
Due: none

docs: update docs for package model infra
  CONTRIBUTING.md
  Makefile
  README.md
Due: prettier-format

chore: switch backend linting from black+flake8 to ruff
  backend/Makefile
  backend/pyproject.toml
  backend/src/api/routes.py
  backend/src/config/settings.py
  backend/src/main.py
  backend/src/utils/cache_decorator.py
  backend/src/utils/sector_config.py
  backend/src/utils/transform_model.py
  backend/uv.lock
  lefthook.yml
Due: prettier-format, black-format, flake8-lint

chore: enhance Makefile with local model installation support
  Makefile
Due: none

docs: update installation instructions in README for clarity on local model setup
  README.md
Due: prettier-format

chore: install git-lfs in Dockerfile for handling git-sourced dependencies
  backend/Dockerfile
Due: none

chore: update backend linting tool from flake8 to ruff in README
  README.md
Due: prettier-format

docs: update note in CONTRIBUTING.md to link to model contributing guide
  CONTRIBUTING.md
Due: prettier-format

chore: remove git installation from Dockerfile and update transition-compass-model dependency to use PyPI
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: update installation methods to use PyPI instead of git source in Makefile and README
  .github/workflows/bump-model.yml
  README.md
  backend/Makefile
Due: prettier-format

chore(main): release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier-format

feat(buildings): adding overall plots to the building sector
  frontend/src/config/plotLabels.ts
  frontend/src/config/subtabs/buildings.json
Due: prettier-format, eslint-lint

chore: bump transition-compass-model to v0.1.3
  backend/pyproject.toml
  backend/uv.lock
Due: none

add industry and lca tabs
  backend/config/lever_position.json
  backend/model_config.json
  backend/src/api/lever_keys.py
  frontend/src/config/levers.ts
  frontend/src/config/plotLabels.ts
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/buildings.json
  frontend/src/config/subtabs/industry.json
  frontend/src/config/subtabs/lca.json
  frontend/src/pages/sectors/IndustryTab.vue
  frontend/src/pages/sectors/LcaTab.vue
  frontend/src/router/routes.ts
Due: prettier-format, eslint-lint, black-format, flake8-lint

add lever services-floor-area
  backend/model_config.json
  backend/src/api/lever_keys.py
  frontend/src/config/levers.ts
  frontend/src/config/sectors.ts
Due: prettier-format, eslint-lint, black-format, flake8-lint

undisabled freight levers
  frontend/src/config/levers.ts
Due: prettier-format, eslint-lint

Create .gitignore
  backend/_database/pre_processing/.gitignore
Due: none

refactor (buildings) : remove appliances lever
  backend/src/api/lever_keys.py
  frontend/src/config/levers.ts
  frontend/src/config/sectors.ts
Due: prettier-format, eslint-lint, black-format, flake8-lint

feat: add stacked chart for levers
  backend/model_config.json
  frontend/src/components/graphs/LeverChart.vue
  frontend/src/config/levers.ts
  frontend/src/utils/leversData.ts
Due: prettier-format, eslint-lint

clean (transport): update freight variable name
  frontend/src/config/subtabs/transport.json
Due: prettier-format

transport : update freight labels
  frontend/src/config/plotLabels.ts
Due: prettier-format, eslint-lint

chore(dev): per-worktree dev environment with tmux and Claude Code
  .gitignore
  .wt.toml
  CLAUDE.md
  Makefile
  backend/Makefile
  docs/worktree-env.md
  frontend/quasar.config.ts
  lefthook.yml
  scripts/claude-worktree-settings.json
  scripts/git-push-guard.sh
  scripts/tmux-dev.sh
  scripts/wt-done.sh
  scripts/wt-go.bash
  scripts/wt-land.sh
  scripts/wt-lib.sh
  scripts/wt-new.sh
  scripts/wt-open.sh
  scripts/wt-setup.sh
  scripts/wt-teardown.sh
Due: prettier-format, eslint-lint

fix(dev): make the push guard a real git hook, not a lefthook job
  CLAUDE.md
  docs/worktree-env.md
  lefthook.yml
  scripts/git-push-guard.sh
  scripts/wt-lib.sh
  scripts/wt-setup.sh
Due: prettier-format

feat: deployment profiles, and the TCAF site
  backend/model_config.json
  backend/pyproject.toml
  backend/src/api/lever_keys.py
  backend/src/api/routes.py
  backend/src/utils/profile_config.py
  backend/src/utils/region_config.py
  backend/src/utils/sector_config.py
  backend/src/utils/serialize_model.py
  frontend/public/tcaf-logo.svg
  frontend/src/components/SectorTab.vue
  frontend/src/components/VerticalNavigation.vue
  frontend/src/composables/useSectorNavigation.ts
  frontend/src/config/levers.ts
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/dietary-habits.json
  frontend/src/pages/sectors/DietaryHabitsTab.vue
  frontend/src/router/routes.ts
  frontend/src/stores/leversStore.ts
  frontend/src/utils/region.ts
Due: prettier-format, eslint-lint, black-format, flake8-lint

feat: install several models and pick one with the profile
  backend/Makefile
  backend/model_config.json
  backend/src/api/lever_keys.py
  backend/src/api/routes.py
  backend/src/utils/model_package.py
Due: prettier-format, black-format, flake8-lint

fix: the land chart showed an empty series
  frontend/src/config/subtabs/dietary-habits.json
Due: prettier-format

Clean Energy Levers
  backend/src/api/lever_keys.py
  frontend/src/config/levers.ts
  frontend/src/utils/examplePathways.ts
Due: prettier-format, eslint-lint, black-format, flake8-lint
