Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, black-format, flake8-lint

prettier-format:
  run: npx prettier --write {staged_files} && git add {staged_files}
  tags: frontend format

black-format:
  run: cd backend && (uv run black {staged_files} || .venv/bin/black {staged_files}) && git add {staged_files}
  tags: backend format

flake8-lint:
  run: cd backend && (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics)
  tags: backend lint

feat: add FastAPI backend launch configurations for multiple regions
  .vscode/launch.json
Due: prettier-format

refactor: remove package-lock.json from .gitignore
  .gitignore
  frontend/.gitignore
  frontend/package-lock.json
  package-lock.json
Due: prettier-format

feat: update KPI configuration to allow optional min, max, and thresholds properties from API directly
  frontend/src/components/SectorTab.vue
  frontend/src/components/kpi/KpiBox.vue
  frontend/src/config/subtabs/transport.json
  frontend/src/utils/sectors.ts
Due: prettier-format

refactor: replace withDefaults with direct destructuring in EmptyState component
  frontend/src/components/EmptyState.vue
Due: prettier-format

Calibration Vaud Agriculture (up to feed)
  backend/_database/pre_processing/agriculture & land use/agriculture_landuse_preprocessing_VD.py
  backend/_database/pre_processing/agriculture & land use/canton_agriculture_pre-processing.py
  backend/main.py
Due: black-format, flake8-lint

issue with the pickle agr_crop_prod
  backend/_database/pre_processing/agriculture & land use/agriculture_landuse_preprocessing_VD.py
Due: black-format, flake8-lint

Bug fix in crop_land API call
  backend/_database/pre_processing/agriculture & land use/agriculture_landuse_preprocessing_VD.py
Due: black-format, flake8-lint

feat: add 'uncategorized' label to lever translations in multiple languages
  frontend/src/components/LeverGroups.vue
  frontend/src/i18n/de-DE/levers.ts
  frontend/src/i18n/en-US/levers.ts
  frontend/src/i18n/fr-FR/levers.ts
Due: prettier-format

feat: makes overall sector aggregate all sectors data
  frontend/src/pages/sectors/OverallTab.vue
  frontend/src/stores/leversStore.ts
Due: prettier-format

feat: add placeholder fake overall config
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/overall.json
Due: prettier-format

feat: add eslint linting for frontend files in pre-commit hook
  lefthook.yml
Due: prettier-format

chore: update license information to Apache License 2.0 in README and pyproject.toml
  LICENSE
  README.md
  backend/pyproject.toml
Due: prettier-format

refactor!: rename project from SpeedToZero to Transition Compass
  Makefile
  README.md
  backend/index.html
  backend/src/utils/sector_config.py
  frontend/README.md
  frontend/package.json
  frontend/src/components/VerticalNavigation.vue
  frontend/src/i18n/de-DE/index.ts
  frontend/src/i18n/en-US/index.ts
  frontend/src/i18n/fr-FR/index.ts
  frontend/src/layouts/MainLayout.vue
Due: prettier-format, black-format, flake8-lint

fix: simplify overall subtab generation
  frontend/src/components/VerticalNavigation.vue
  frontend/src/composables/useSectorNavigation.ts
  frontend/src/config/sectors.ts
Due: prettier-format

fix: prevent event propagation on expand icon click
  frontend/src/components/VerticalNavigation.vue
Due: prettier-format

chore(main): release 0.8.0
  CHANGELOG.md
  package.json
Due: prettier-format

Remove sectors from model_config.json
  speed-to-zero.code-workspace
Due: none

fix: add separators for improved navigation section clarity
  frontend/src/components/VerticalNavigation.vue
Due: prettier-format

chore(main): release 1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier-format

feat: migrate urls to transition compass
  CONTRIBUTING.md
  README.md
Due: prettier-format

chore(main): release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier-format

fix: disable Agriculture sector and remove Agriculture's chart in overall
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/overall.json
Due: prettier-format

test force push protection
  test_new_file.txt
Due: none

feat: harmonize border colors
  frontend/src/components/LeverSelector.vue
  frontend/src/components/SectorTab.vue
  frontend/src/components/VerticalNavigation.vue
  frontend/src/components/graphs/ChartCard.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/pages/LegalPage.vue
Due: prettier-format

feat: enhance vertical navigation header layout and icon visibility
  frontend/src/components/VerticalNavigation.vue
Due: prettier-format

feat: add disclaimer to WelcomePopup and localize in German, English, and French
  frontend/src/components/WelcomePopup.vue
  frontend/src/i18n/de-DE/index.ts
  frontend/src/i18n/en-US/index.ts
  frontend/src/i18n/fr-FR/index.ts
Due: prettier-format

feat: add DisclaimerBanner component and localize disclaimer messages in German, English, and French
  frontend/src/components/DisclaimerBanner.vue
  frontend/src/components/SectorTab.vue
  frontend/src/i18n/de-DE/index.ts
  frontend/src/i18n/en-US/index.ts
  frontend/src/i18n/fr-FR/index.ts
Due: prettier-format

feat: add contact section to AboutPage and localize testing notes in German, English, and French
  frontend/src/i18n/de-DE/index.ts
  frontend/src/i18n/en-US/index.ts
  frontend/src/i18n/fr-FR/index.ts
  frontend/src/pages/AboutPage.vue
Due: prettier-format

issue with linux ?
  .gitignore
  backend/_database/pre_processing/agriculture & land use/agriculture_landuse_preprocessing_VD.py
  package-lock.json
Due: prettier-format, black-format, flake8-lint

test vaud paola
  backend/_database/data/datamatrix/agriculture.pickle
  backend/_database/pre_processing/agriculture & land use/agriculture_landuse_preprocessing_VD.py
Due: black-format, flake8-lint

Update industry.pickle
  backend/_database/data/datamatrix/industry.pickle
Due: none

Update buildings_to_industry.pickle
  backend/_database/data/interface/buildings_to_industry.pickle
Due: none

Update transport_to_industry.pickle
  backend/_database/data/interface/transport_to_industry.pickle
Due: none

Path conditions:
  prettier-format: any of: *.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}
  black-format: any of: backend/**/*.py
  flake8-lint: any of: backend/**/*.py
