Repository EPFL-ENAC/leure-speed-to-zero: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-format, black-format, flake8-lint

lefthook.yml:

# RC file to ensure proper PATH for npm/npx
rc: ./.lefthookrc

commit-msg:
  commands:
    commitlint:
      run: npx --no -- commitlint --edit {1}

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     eslint-audit:
#       tags: frontend eslint
#       run: npm run lint
#     typescript-audit:
#       tags: frontend typescript
#       run: npm run type-check

pre-commit:
  parallel: true
  commands:
    # Format frontend files (JS, TS, Vue, JSON, etc.)
    prettier-format:
      glob: "*.{js,ts,jsx,tsx,vue,json,css,scss,md,yml,yaml}"
      run: npx prettier --write {staged_files} && git add {staged_files}
      tags: frontend format
    # Format backend Python files
    black-format:
      glob: "backend/**/*.py"
      run: cd backend && (uv run black {staged_files} || .venv/bin/black {staged_files}) && git add {staged_files}
      tags: backend format
    # Lint backend Python files
    flake8-lint:
      glob: "backend/**/*.py"
      run: cd backend && (uv run flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics || .venv/bin/flake8 {staged_files} --count --select=E9,F63,F7,F82 --show-source --statistics)
      tags: backend lint

feat(sectors): Enhance sector management with backend integration and frontend updates
  TUTORIAL_NEW_SECTOR.md
  backend/model_config.json
  backend/src/api/routes.py
  backend/src/utils/sector_config.py
  frontend/src/components/SectorTab.vue
  frontend/src/composables/useCurrentSector.ts
  frontend/src/services/modelService.ts
  frontend/src/stores/leversStore.ts
Due: prettier-format, black-format, flake8-lint

fix(model): Refactor sector configurations and enhance model run functions with type hints and improved logging
  backend/model_config.json
  backend/src/api/routes.py
  backend/src/utils/transform_model.py
Due: prettier-format, black-format, flake8-lint

feat(frontend): Add EmptyState component for improved user feedback in SectorTab
  frontend/src/components/EmptyState.vue
  frontend/src/components/SectorTab.vue
Due: prettier-format

feat(setup): update installation process and enhance git hooks configuration
  Makefile
  lefthook.yml
  package.json
Due: prettier-format

refactor(routes): format function parameters and improve response structure in run_model_clean_structure
  backend/src/api/routes.py
Due: black-format, flake8-lint

feat(lever): add loading state and success feedback to LeverSelector and LeversColumnHeader components
  frontend/src/components/LeverSelector.vue
  frontend/src/components/LeversColumnHeader.vue
  frontend/src/layouts/DashboardLayout.vue
Due: prettier-format

fix(api): add deleted endpoint for lever data retrieval with sector and country filtering
  backend/src/api/routes.py
  frontend/src/services/modelService.ts
  frontend/src/stores/leversStore.ts
Due: prettier-format, black-format, flake8-lint

Remove sectors from model_config.json
  backend/model_config.json
Due: prettier-format

Change translation in labels
  frontend/src/config/plotLabels.ts
Due: prettier-format

Change buildings sector titles for CECB
  frontend/src/config/subtabs/buildings.json
Due: prettier-format

Disable Appliances lever
  frontend/src/config/levers.ts
Due: prettier-format

Fix lever passenger tech visualisation
  backend/model/common/auxiliary_functions.py
Due: black-format, flake8-lint

Update model_config.json
  backend/model_config.json
Due: prettier-format

fix(flags): update Switzerland and Vaud flag SVGs for correct dimensions and styling
  frontend/src/assets/flags/switzerland.svg
  frontend/src/assets/flags/vaud.svg
  frontend/src/components/RegionFlag.vue
  frontend/src/components/VerticalNavigation.vue
Due: prettier-format

chore(main): release 0.8.0
  CHANGELOG.md
  package.json
Due: prettier-format

fix(backend): refactor get_all_available_sectors to return unique sectors from all dependency chains
  backend/src/utils/sector_config.py
Due: black-format, flake8-lint

chore(main): release 0.8.1
  CHANGELOG.md
  package.json
Due: prettier-format

Restructuring lca pickle
  backend/_database/data/datamatrix/lca.pickle
  backend/_database/pre_processing/lca/python/lca_levers.py
  backend/model/lca_module.py
Due: black-format, flake8-lint

fix(backend): prioritize environment variable for current region in RegionConfig
  backend/src/utils/region_config.py
Due: black-format, flake8-lint

Updating transport to allow kerosene in freight
  backend/model/transport/interfaces.py
  backend/model/transport/workflows.py
Due: black-format, flake8-lint

Update transport.pickle
  backend/_database/data/datamatrix/transport.pickle
Due: none

Update interactions_localrun.py
  backend/model/interactions_localrun.py
Due: black-format, flake8-lint

Updating pre processing of transport EU freight
  backend/_database/pre_processing/transport/EU/python/transport_build-pickle.py
  backend/_database/pre_processing/transport/EU/python/transport_fxa_freight_tech.py
  backend/_database/pre_processing/transport/EU/python/transport_fxa_passenger_tech.py
  backend/_database/pre_processing/transport/EU/python/transport_fxa_vehicles-max.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_freight_modal-share.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_freight_technology-share_new.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_freight_utilization-rate.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_freight_vehicle-efficiency_new.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_passenger_aviation-pkm.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_passenger_occupancy.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_passenger_utilization-rate.py
  backend/_database/pre_processing/transport/EU/python/transport_lever_passenger_veh-efficiency_new.py
Due: black-format, flake8-lint

Update workflows.py
  backend/model/buildings/workflows.py
Due: black-format, flake8-lint

Vaud Downscale: Duplicates & Constants OK
  backend/_database/data/datamatrix/agriculture.pickle
  backend/_database/data/interface/buildings_to_energy.pickle
  backend/_database/data/interface/transport_to_energy.pickle
  backend/_database/pre_processing/agriculture & land use/agriculture_landuse_preprocessing_EU.py
  backend/_database/pre_processing/agriculture & land use/canton_agriculture_pre-processing.py
  backend/model/agriculture_module.py
  backend/model/interactions.py
  frontend/src/config/sectors.ts
  frontend/src/config/subtabs/agriculture.json
Due: prettier-format, black-format, flake8-lint

Update buildings_preprocessing_EU.py
  backend/_database/pre_processing/buildings/Europe/buildings_preprocessing_EU.py
Due: black-format, flake8-lint

Update buildings.pickle
  backend/_database/data/datamatrix/buildings.pickle
Due: none

updating local interfaces of transport and buildings to industry
  backend/_database/data/interface/buildings_to_industry.pickle
  backend/_database/data/interface/transport_to_industry.pickle
Due: none

Update buildings_module.py
  backend/model/buildings_module.py
Due: black-format, flake8-lint

Merge remote-tracking branch 'origin/model' into model
  backend/model/buildings_module.py
Due: black-format, flake8-lint

Minor updates
  backend/model/energy_module.py
  frontend/src/config/subtabs/transport.json
  frontend/src/utils/examplePathways.ts
Due: prettier-format, black-format, flake8-lint

fix(frontend): simplify region flag logic by dynamically generating flag URLs
  frontend/src/components/RegionFlag.vue
Due: prettier-format
